@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
/* COLORS */

/* Primary */
--strong-cyan: hsl(171, 66%, 44%);
--light-blue: hsl(233, 100%, 69%);

/* Neutral */
--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);

/* FONTS */

--fs-400: 1.25rem;
--fs-500: 1.5rem;
--fs-600: 1.8rem;
--fs-800: 2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-wrap {
    font-family: 'Bai Jamjuree', sans-serif;
    max-width: 1440px;
}

#header,
.section,
#footer {
    text-align: center;
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
}

.title-one,
.title-two,
.title-three {
    color: var(--dark-grayish-blue);
}

.paragraph {
    color: var(--grayish-blue);
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 1rem;
    line-height: 2rem;
    width: 90%;
}

.btn,
.paragraph {
    font-size: var(--fs-400);
}

/* ==========
    HEADER
==========*/
#header {
    background: url(./images/bg-header-mobile.png) no-repeat 100%/cover;
    grid-template-rows: calc(280rem / 16) 1fr 1fr;
}

.title-one {
    margin-bottom: 1rem;
    font-size: var(--fs-800);
}

.title-one,
.buttons {
    width: 90%;
}


.btn {
    width: 100%;
    font-family: inherit;
    display: block;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn-one {
    background-color: var(--strong-cyan);
}

.btn-one:hover {
    box-shadow: 0 .1rem .6rem var(--strong-cyan);
    border-bottom: .2rem solid hsl(171, 66%, 30%);
}

.btn-two {
    margin-top: 1rem;
    background-color: var(--light-blue);
}

.btn-two:hover {
    box-shadow: 0 .1rem .6rem var(--light-blue);
    border-bottom: .2rem solid hsl(233, 100%, 30%);;
}

.btn:active {
    transform: translateY(5px) translateX(0);
    border: none;
}

/* ==========
    MAIN
==========*/

#container {
    width: 90%;
    margin: calc(130rem / 16) auto;
}

.title-two {
    font-size: var(--fs-600);
    margin: 2rem;
}

.title-three {
    font-size: var(--fs-500);
    margin-bottom: .5rem;
}

#container .paragraph,
#container img {
    margin-bottom: calc(69rem / 16);
}

/* Section Three */
.section-three {
    margin: calc(195rem / 16) auto;
}

.brand-row {
    margin: calc(135rem / 16) auto;
    margin-bottom: 0;
}

.brand-row img {
    display: block;    
}

#container .brand-row .last-img {
    margin-bottom: 0;
}

/* ==========
    FOOTER
==========*/
#footer {
    padding-top: 3rem;
    background-color: hsl(201, 11%, 95%);
}

.logo,
.nav-list,
.medias {
    padding: 1.5rem;
}

.logo-footer {
    margin: 0 auto;
    max-width: 5rem;
}

/* List */
.nav-list {
    list-style-type: none;
}

.list-item {
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: var(--fs-400);
}

/* Medias */
.medias img {
    margin: 0 1rem;
}

.link:hover {
    color: var(--strong-cyan);
}

.attribution {
    font-size: var(--fs-400);
    text-align: center;
    margin: 0 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}