@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
/* COLORS */

/* Primary */
--strong-cyan: hsl(171, 66%, 44%);
--light-blue: hsl(233, 100%, 69%);

/* Neutral */
--dark-grayish-blue: hsl(210, 10%, 33%);
--grayish-blue: hsl(201, 11%, 66%);

/* FONTS */

--fs-400: 1.25rem;
--fs-500: 1.5rem;
--fs-600: 1.8rem;
--fs-800: 2.3rem;
}

@media (min-width: 1000px) {
    :root {
        --fs-600: 2.3rem;
        --fs-800: 2.5rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#page-wrap {
    font-family: 'Bai Jamjuree', sans-serif;
    max-width: 1440px;
}

#header,
.section,
#footer {
    text-align: center;
    display: grid;
    place-items: center;
}

img {
    max-width: 100%;
}

.title-one,
.title-two,
.title-three {
    color: var(--dark-grayish-blue);
}

.paragraph,
p {
    color: var(--grayish-blue);
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 1rem;
    line-height: 2rem;
    width: 90%;
}

.btn,
.paragraph,
p {
    font-size: var(--fs-400);
}

/* ==========
    HEADER
==========*/
#header {
    background: url(./images/bg-header-mobile.png) no-repeat 100%/cover;
    grid-template-rows: calc(280rem / 16) 1fr 1fr;
}

.title-one {
    font-size: var(--fs-800);
}

.title-one,
.buttons {
    width: 90%;
}

.btn {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-family: inherit;
    border: .2rem solid transparent;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

@media (min-width: 1000px) {
    #header {
        background-image: url(./images/bg-header-desktop.png);
    }

    .paragraph {
        width: calc(600rem / 16);
    }

    .buttons {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 2rem;
    }

    .btn {
        max-width: calc(250rem / 16);
    }
}

.btn-one {
    background-color: var(--strong-cyan);
    box-shadow: 0 .1rem .6rem var(--strong-cyan);
}

.btn-two {
    margin-top: 1rem;
    background-color: var(--light-blue);
    box-shadow: 0 .1rem .6rem var(--light-blue);
}

.btn-one:hover {
    border-bottom: .2rem solid hsl(171, 66%, 40%);
}

.btn-two:hover {
    border-bottom: .2rem solid hsl(233, 100%, 65%);
}

.btn:active {
    transform: translateY(5px) translateX(0);
    border: .2rem solid transparent;
}

/* ==========
    MAIN
==========*/

#container {
    width: 90%;
    margin: calc(130rem / 16) auto;
}

.title-two {
    font-size: var(--fs-600);
    margin: 2rem;
}

.title-three {
    font-size: var(--fs-500);
    margin-bottom: .5rem;
}

.section .paragraph,
.section img {
    margin-bottom: calc(69rem / 16);
}

/* Section Three */
.section-three {
    margin: calc(195rem / 16) auto;
}

.brands-row {
    margin: calc(135rem / 16) auto;
    margin-bottom: 0;
}

.brands-row img {
    display: block;    
}

.brands-row .last-img {
    margin-bottom: 0;
}

@media (min-width: 1000px) {
    .section .paragraph {
        min-width: calc(770rem / 16);
    }

    .section-two {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    .rows-content {
        text-align: left;
    }

    .section-two p {
        margin: 0;
        margin-bottom: calc(69rem / 16);
        padding-right: 20%;
    }

    .section-two img {
        margin-left: -10rem;
    }

    .section-three {
        margin: 0;
    }

    .section-three .feat-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: baseline;
        grid-gap: 3rem;
        font-size: 1rem;
        width: 80%;
    }

    .section-three .feat-row p {
        margin: 0;
        width: 100%;
        line-height: 2.5rem;
    }

    .section-three .feat-row img {
        margin-bottom: 1rem;
    }

    .section-three .brands-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: calc(135rem / 16) auto;
    }

    .section-three .brands-row img{
        margin: 0;
    }
}

/* ==========
    FOOTER
==========*/
#footer {
    padding-top: 3rem;
    background-color: hsl(201, 11%, 95%);
}

.logo,
.nav-list,
.medias {
    padding: 1.5rem;
}

.logo-footer {
    margin: 0 auto;
    max-width: 5rem;
}

/* List */
.nav-list {
    list-style-type: none;
}

.list-item {
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: var(--fs-400);
}

.link:hover,
path:hover {
    color: var(--strong-cyan);
    fill: var(--strong-cyan);
}

/* Medias */
.medias svg {
    margin: 0 1rem;
}

/* Icons */
.attribution {
    font-size: var(--fs-400);
    text-align: center;
    margin: 0 1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
    .footer-content {
        display: grid;
        grid-template-columns: 5rem 3fr 1fr;
        place-items: center;
    }

    .logo-footer {
        margin: 0;
        max-width: 4rem;
    }

    .nav-list {
        columns: 3;
        text-align: left;
    }

    .list-item {
        padding: .3rem 1rem;
    }
}